# Build results
/bin/
/obj/

# Visual Studio / VS Code settings
.vs/
.vscode/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Build artifacts
*.pdb
*.dll
*.exe
*.cache
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Others
*.dbmdl
*.jfm
.idea/
.DS_Store

